<div class="drawing-board-container">
  <canvas #canvas (mousedown)="startDrawing($event)" (mousemove)="draw($event)" (mouseup)="stopDrawing()"
          (touchstart)="startDrawing($event)" (touchmove)="draw($event)" (touchend)="stopDrawing()"></canvas>
  <div class="tools">
    <button (click)="changeColor('black')">Black</button>
    <button (click)="changeColor('red')">Red</button>
    <button (click)="changeColor('blue')">Blue</button>
    <button (click)="clearCanvas()">Clear</button>
  </div>
</div>
